@theme {
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #D1D0D5;
    --color-border-primary: #8F81A2;
    --color-border-secondary: #4C486D;
    --color-accent: #F67464;
    --color-error: #BB8891;
}